<h1> Galpões & Estoque </h1>

<h2> Galpões </h2>
<% if @warehouse.empty? %>
  <p>Não existem galpões cadastrados<p>
<% end%>

<ul><% @warehouse.each do |warehouse| %>
  <p>
    <li><%= link_to( warehouse.name, warehouse_path(warehouse.id)) %></li>
    <li>Código: <%= warehouse.code%></li>
    <li>Cidade: <%= warehouse.city%></li>
    <li><%= warehouse.area%>m²</li>
  </p>
<% end %></ul>