<h1>Pedido</h1>

<ul>
  <li>Galpão Destino: <%= @order.warehouse.name %> </li>
  <li>Fornecedor: <%= @order.supplier.corporate_name %> </li>
  <li>Usuário Responsavel: <%= "#{@order.user.name} <#{@order.user.email}>" %> </li>
  <li>Previsao de entrega: <%= I18n.localize(@order.estimated_delivery_date) %> </li>
</ul>