

.alert {
  padding: 20px;
  background-color: #ce281c;
  color: white;
  margin-bottom: 15px;
}

.notice{
  padding: 20px;
  background-color: #2da522;
  color: white;
  margin-bottom: 15px;

}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.head-title{
  font-size: 40px;
  margin: 10px;
}

.nav-button {
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border-radius: 2px;
  padding: 3px;
  margin: 0 2px 0 3px;
  border: 1px solid black;
  transition: 0.3s;
  cursor: pointer;
}

.nav-button:hover{
  background-color: gray;
}


#navbar{
  margin: -8px -8px 0;
  padding: 1px 0 5px 0;
  border: 1px solid black;
}

#navbar span {
  display: flex;
  justify-content: space-between;
  margin:0 1rem 0;
}

#navbar span div{
  display: flex;
  align-items: center;
}

#warehouses h2 {
  margin: 10px 0 20px 5px;
}

#warehouses h3 {
  margin: 0;
}

#warehouse h1{
  font-size: 30px;
  margin: 20px 0 0 0;
}

#warehouse h2 {
  margin: 0px 0 0 20px;
}